# Created by .ignore support plugin (hsz.mobi)
### npm2 template
.idea

~ci.list.txt
~ci.log.txt
~ci.errors.txt

*.stackdump
*.bak
*.old

tsconfig.json
#package-lock.json

test

.github
.gitkeep

/.*

test
tests

.github
.gitkeep

/.*

/~*

__test__
__tests__

/node_modules/
**/node_modules/
/node-novel-task.config.local.*
/node-novel-task.config.local.ts
/node-novel-task.config.local.js
*.local.*

### jsonly template
*.ts
!*.d.ts
### jsonly_bin template
bin/*.ts
bin/*.d.ts
/node-novel-task.config.local.d.ts
